.loaderWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorWhite;
}

.section {
  background-color: $mainBackgroundColor;
  color: $colorWhite;
}

.bannerWrapper {
  @extend %smooth-transition;
  margin-bottom: 1.5rem;

  @include onTablet {
    margin-bottom: 2rem;
  }
}

.movieRowWrapper:not(:last-child) {
  margin-bottom: 2rem;
}

.moviesRowsWrapper {
  margin-bottom: 2rem;
}

.enterActive, .enterDone{
  animation: modalAppearance 0.2s ease-out forwards;
}

.exit {
  animation: modalDisappearance 0.2s ease-out forwards;
}

@keyframes modalAppearance {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modalDisappearance {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
