.loaderWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorWhite;
}

.section {
  background-color: $mainBackgroundColor;
  color: $colorWhite;
}

.bannerWrapper {
  @extend %smooth-transition;
  margin-bottom: 1.5rem;

  @include onTablet {
    margin-bottom: 2rem;
  }
}

.movieRowWrapper:not(:last-child) {
  margin-bottom: 2rem;
}
