.regContainer {
  max-width: 34rem;
  // transform: translateX(300%);
  animation: appear 1s 1;

  @include onTablet {
    min-height: 80vh;
  }

  @keyframes appear {
    from {
      transform: translateX(100%);
      opacity: 0;
    } to {
      opacity: 1;
      transform: translateX(0);
    }
  }

.regContainerDisappear {
  animation: fade-out 0.5s 1;
  max-width: 34rem;
  @include onTablet {
    min-height: 80vh;
  }
}

@keyframes fade-out {
  from {
    transform: translateX(0);
    opacity: 1;
  } to {
    opacity: 0;
    transform: translateX(-100%);
  }
}


  @include onDesktop {
    min-height: 70vh;
  }

  margin: 0 auto;
  padding: 13rem 0;
  background-color: $colorWhite;
}

.stepLogoContainer {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.stepLogo {
  background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Devices.png');
  display: inline-block;
  width: 26rem;
  height: 9rem;
  @extend %iconSizes;
}

.stepHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.4rem;
}

.stepIndicator {
  @extend %stepIndicator;
  line-height: 1.9rem;
  text-align: center;
}

.stepTitle {
  @extend %stepTitle;
  text-align: center;
  margin-bottom: 1.2rem;
}

.contentBox {
  text-align: center;
  font-size: 1.8rem;
  min-width: 30rem;
  color: $colorBlack3;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  max-width: 34rem;
}

.buttonNext {
  width: 100%;
  min-height: 6.4rem;
  @extend %buttonRed;
  outline: transparent;
  border: none;
  font-size: 2.4rem;
}

