/*#region fontSize */
  $mainFontSize: 10px;
/*#endregion */

/*region backgroundColor */
  $mainBackgroundColor: rgba(0, 0, 0, 0.8);
/*#endregion*/

/*region fonts */
  $mainFontFamily: 'Roboto', sans-serif;
/*#endregion*/

/*region colorWhite */
  $colorWhite: #fff;
  $colorWhite1: #f1f1f1;
  $colorWhite3: #e6e6e6;
  $colorWhite4: #f3f3f3;
/*#endregion*/

/*region colorBlack */
  $colorBlack: #000;
  $colorBlack1: rgba(0, 0, 0, 0.7);
  $colorBlack2: rgba(0, 0, 0, 1);
  $colorBlack3: #333;
/*#endregion*/

/*region colorRed */
  $colorDanger: rgb(235, 57, 66);
  $colorRed: #e50914;
  $colorRed1: #d30b15;
  $colorRed2: #c4050e;
  $colorRed3: #dc2626;
  $colorRed4: #ad1414;
/*#endregion*/

/*region colorGrey */
  $colorGrey1: rgba(255, 255, 255, 0.7);
  $colorGrey2: rgba(255, 255, 255, 0.3);
  $colorGrey3: rgba(39, 34, 34, 0.577);
  $colorGrey4: rgba(255, 255, 255, 0.2);
  $colorGrey5: rgba(255, 255, 255, 0.315);
  $colorGrey6: #737373;
  $colorGrey7: #8c8c8c;
  $colorGrey8: #ccc;
/*#endregion*/

/*region colorGreen */
  $colorGreen: rgb(11, 193, 11);
/*#endregion*/

/*region colorBlue */
  $colorBlue: #0071eb;
/*#endregion*/

/*#region fontWeight */
  $fontWeightExtaLight: 200;
  $fontWeightLight: 300;
  $fontWeightRegular: 400;
  $fontWeightMedium: 500;
  $fontWeightSemiBold: 600;
  $fontWeightBold: 700;
/*#endregion */
