.section {
  @extend %smooth-transition;
  background-color: $colorBlack;

  padding: 2rem 0;
  @include onDesktop {
    padding: 4rem 12rem;
  }
}

.heading {
  color: $colorGrey1;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.phoneNumber {
  text-decoration: underline;
}

.linkList {
  @extend %smooth-transition;
  list-style: none;
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));

  @include onDesktop {
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  }
}

.country {
  color: $colorGrey1;
  font-size: 1.4rem;
}
