::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: $colorWhite1;
}

::-webkit-scrollbar-thumb {
  background: $colorRed3;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $colorRed4;
}
