.waitIndicator {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
}

.loadingIndicator {
  height: 2.5rem;
  width: 2.5rem;
  background-image: url('https://assets.nflxext.com/ffe/siteui/common/site-spinner-240-light.png');
  
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 1;
  animation: full-rotation 1s linear infinite;
  animation-direction: normal;
  @extend %iconSizes;
  display: inline-block;
  margin: 0 auto;
  opacity: 1;
}

@keyframes full-rotation {
  0% {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}
